---
import '@/styles/globals.css';
import { Cursor } from '@/components/cursor';
import { Hero } from '@/components/screens/hero';
---

<html lang="en" class="dark" style="color-scheme: dark;">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-D28338XVLT"></script>
		<script is:raw is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-D28338XVLT');			
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alain Alvarez</title>
	</head>
	<body class="font-roboto-mono" style={{userSelect: 'none'}}>
		<Cursor client:load />
		<main class="max-w-[1200px] mx-auto">
			<Hero client:load />
		</main>
	</body>
</html>